
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
            <h1><a href="https://symfony.com/">Site de Symfony</a></h1>
            <h2>Découverte de symfony</h2>
            <h2><a href="https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/association-mapping.html">Relation ORM</a></h2>
        </div>
        <nav>
            <ul>
                <li><a href="{{ path('home_page') }}">Home</a></li>
                <li><a href="{{ path('projects_index') }}">Liste des Projets</a></li>
                <li><a href="{{ path('users_new') }}"></a>Sign Up</li>
                <li><a href="#">Text Link</a></li>
                <li class="last"><a href="#">Text Link</a></li>
            </ul>
        </nav>
    </header>
</div>
